@import 'nib' // CSS3 extensions for Stylus: http://visionmedia.github.io/nib/

// variables!

slide_width = 640px
slide_height = 480px
slide_background = white

slide_transition_length = .6s
slide_transition_easing = ease
slide_transition_rotate_y = 90deg
// Safari bugs out on 3d transform-origins, so we have to fake it
slide_transition_nudge_x = -100px

bullet_transition_length = .3s
bullet_transition_easing = ease
bullet_transition_translate_x = 16px

// base

*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

// bespoke.js layout styles

article
  transition: background slide_transition_length slide_transition_easing
  display: none
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    @media print
      overflow: visible
      position: static
    perspective: 600px

.bespoke-slide
  transition:
    transform slide_transition_length slide_transition_easing,
    opacity slide_transition_length slide_transition_easing,
    background slide_transition_length slide_transition_easing
  transform-origin: 50% 50% 0
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  background: slide_background
  padding: 40px
  border-radius: 0
  @media print
    zoom: 1 !important // disable bespoke-scale
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0

.bespoke-before
  transform: translateX(slide_transition_nudge_x * -1) translateX(slide_width / -2) rotateY(slide_transition_rotate_y * -1) translateX(slide_width / -2)

.bespoke-after
  transform: translateX(slide_transition_nudge_x) translateX(slide_width / 2) rotateY(slide_transition_rotate_y) translateX(slide_width / 2)
  @media print
    transform: none

.bespoke-inactive
  opacity: 0
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  opacity: 1

// bespoke-bullet styles

.bespoke-bullet
  transition: all bullet_transition_length bullet_transition_easing

.bespoke-bullet-inactive
  opacity: 0
  li&
    transform: translateX(bullet_transition_translate_x)
  @media print
    opacity: 1

.bespoke-bullet-active
  opacity: 1

// bespoke-scale styles

.bespoke-scale-parent
  perspective: 600px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  @media print
    transform: none !important

// bespoke-progress styles

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 2px
  @media only screen and (min-width: 1366px)
    height: 4px
  @media print
    display: none

.bespoke-progress-bar
  transition: width .6s ease
  position: absolute
  height: 100%
  background: #0089f3
  border-radius: 0 4px 4px 0

// bespoke-state styles

.cooking
  background-image: url("/images/cooking.jpg")
  background-size: 100%

.cooking .bespoke-slide
  background: rgba(0,0,0,0.7)
  color: white

.cooking h3
  color: white


// prism styles

pre
  padding: 26px !important
  border-radius: 8px

// content styles

body
  font-family: helvetica, arial, sans-serif
  font-size: 18px
  color: #404040
  background-color: black

h1
  font-size: 72px
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px

h2
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 8px

h3
  font-size: 24px
  font-weight: normal
  margin-bottom: 24px
  color: #606060

hr
  visibility: hidden
  height: 20px

ul
  text-align: left
  margin-top: 20px

li
  margin-bottom: 12px

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: #0089f3
  text-decoration: none

// imgs

.full-imgs
  img
    width: 100%
    height: 100%

// table

td
  padding: 20px
  margin: 10px

.copyright
  font-size: 10px
  text-align: right
  position: absolute
  bottom: 0px
  right: 20px;
  margin: 0px
  padding: 0px
  opacity: 0.5

  a
    color: #404040

  img
    height: 10px;

.ecosystem {
  font-size: 11.5px;
  text-shadow: 0px 0px 4px white;
  margin-left: 8px;
}
.ecosystem .section {
  text-align: right;
  vertical-align: top
}
.ecosystem td {
  padding: 5px;
  min-height: 10px;
}
.ecosystem > tbody > tr > td:nth-child(2) {
  padding: 0;
}
.ecosystem > tbody > tr > td:first-child {
  padding: 0;
  xborder: solid 1px white;
  font-weight: bold;
}
.ecosystem > tbody > tr > td:first-child span {
  display: block;
  padding: 5px;
}
.ecosystem table td {
  border: solid 1px transparent;
}
.ecosystem .tools > td:first-child {
  background-color: rgba(49, 190, 164, 0.1);
  color: rgb(36, 138, 119);
  border: solid 1px transparent;
}
.ecosystem .tools table td {
  border-color: rgb(49, 190, 164);
  background-color: rgba(49, 190, 164, 0.3);
}
.ecosystem .packages > td:first-child {
  background-color: rgba(55, 134, 177, 0.1);
  color: rgb(18, 43, 57);
  border: solid 1px transparent;
}
.ecosystem .packages table td {
  border-color: rgb(55, 134, 177);
  background-color: rgba(55, 134, 177, 0.3);
}
.ecosystem .extensions > td:first-child {
  background-color: rgba(232, 142, 12, 0.1);
  color: rgb(108, 76, 8);
  border: solid 1px transparent;
}
.ecosystem .extensions table td {
  border-color: rgb(232, 142, 12);
  background-color: rgba(232, 142, 12, 0.3);
}
.ecosystem .pluggability > td:first-child {
  background-color: rgba(108, 12, 232, 0.1);
  color: rgb(74, 8, 158);
  border: solid 1px transparent;
}
.ecosystem .pluggability table td {
  border-color: rgb(108, 12, 232);
  background-color: rgba(108, 12, 232, 0.3);
}
.ecosystem .core table {
  width: 100%;
}
.ecosystem .core > td:first-child {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgb(134, 0, 0);
  border: solid 1px transparent;
}
.ecosystem .core table td {
  border-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
  padding: 13px;
}
.ecosystem > tbody > tr.core > td:first-child span {
  padding: 13px;
}
.ecosystem .storage > td:first-child {
  background-color: rgba(255, 244, 13, 0.1);
  color: rgb(80, 80, 6);
}
.ecosystem .storage table td {
  border-color: rgb(255, 255, 13);
  background-color: rgba(255, 255, 13, 0.3);
}
.ecosystem .rotate {
  width: 40px;
  height: 150px;
}
.ecosystem .rotate span {
  position: absolute;
  display: block;
  width: 124px;
  text-align: left;
  -webkit-transform-origin: 36px -15px;
  -moz-transform-origin:    36px -15px;
  -ms-transform-origin:     36px -15px;
  -o-transform-origin:      36px -15px;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
}

.committers td
  font-size: 12pt
  padding: 5px
  margin: 5px

